<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto;">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
    </div>
  <% end %>


  <div class="card">
  <div class="card-body">
  

  <div><br>
  <% invalid = post.errors.include?(:title)%>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , class:"form-control" %>
    <% if invalid %>
    <div style="color: red">
    
    <%= post.errors.full_messages_for(:title).join(" ,")%>
    </div><% end %>
  </br></div>
  
  <div><br>
  <% invalid = post.errors.include?(:description)%>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control" %>
    <% if invalid %>
    <div style="color: red">
    <%= post.errors.full_messages_for(:description).join(" ,")%>
    </div>
    <% end %>
  </br></div>

  <div><br>
  <% invalid = post.errors.include?(:keywords)%>
    <%= form.label :keywords, style: "display: block" %>
    <%= form.text_field :keywords, class:"form-control" %>
    <% if invalid %>
    <div style="color: red">
    <%= post.errors.full_messages_for(:keywords).join(" ,")%>
    </div>
    <% end %>
  </br></div>

  <%= form.file_field :avatar %>
  

  <div><br>
    <%= form.text_field :user_id,  type: "hidden",value: current_user.id %>
  </br></div>

  <div><br>
    <%= form.submit class: "btn btn-primary col-12" %>
  </br></div>
<% end %>
</div>
</div>
</div>
